<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.now.mapper.sys.SYSUserMapper">

	<select id="findAll" resultType="com.now.entity.sys.SYSUser">
		SELECT * as name FROM BS_USER
	</select>
</mapper>